.heading{
    color: #33272a;
    text-align: center;
    font-size: 40px;
    margin: 30px auto;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

.sub-heading{
    color: #33272a;
    text-align: center;
    font-size: 30px;
    margin: ;
}